<footer>
    <span class="nome-site">Arte <span class="e">&amp;</span> Artes</span>
	<div class="colunas">
        <div>
            <strong>Morada</strong><br />
            Avenida abc, Nº 3000<br />
            Coimbra<br />
            <strong>Horário</strong><br />
            Segundas a Sextas: 10h00 - 17h00<br />
            Sábados: 13h00 - 16h00
        </div>
        <div>
            <a href="~/Contacto.cshtml">Formulário de Contacto</a><br />
            <a href="#">Perguntas Frequentes</a><br />
            <a href="#">Termos e Condições</a><br />
            <a href="#">Catálogos</a>
        </div>
    </div>
    
    <div class="copyright">
        &copy 2018 / João Martiniano
    </div>

    <div class="social">
        <img src="img/facebook.png" alt="Facebook" />
        <img src="img/twitter.png" alt="Twitter" />
        <img src="img/instagram.png" alt="Instagram" />
    </div>

    <div class="attribution">
        Imagens <small>(obras de arte)</small>: <a href="https://www.rijksmuseum.nl/en">Rijksmuseum</a><br />
        Fontes: <a href="https://fonts.google.com/specimen/Roboto">Roboto</a> e <a href="https://fonts.google.com/specimen/Playfair+Display">Playfair Display</a><br />
        Ícones: <a href="https://fontawesome.com/">Font Awesome</a> e <a href="https://feathericons.com/">Feather Icons</a> <small>(páginas de administração)</small><br />
        Slider <small>(na página inicial)</small>: <a href="http://kenwheeler.github.io/slick/">slick</a>
    </div>
</footer>