<!DOCTYPE html>
<html lang="pt">
<head>
	<meta charset="utf-8" />
	<title>ERRO - Arte &amp; Artes</title>
    @RenderPage("~/Shared/_Metatags.cshtml")
</head>
<body class="PaginaErro">
    @RenderPage("~/Shared/_Header.cshtml", "login")

	<main>
		<div class="container">
			<h1>Erro</h1>

			<img src="~/img/moldura.png" alt="" />

			<h2>Ocorreu um erro grave que impede o normal funcionamento deste website.</h2>

			<p><span class="back-arrow">&xlarr;</span>&nbsp;<a href="~/Default.cshtml">Voltar à página inicial</a></p>
		</div>
	</main>
</body>
</html>