@using WebMatrix.Data;
@{
    // Declarar variáveis que irão permitir o acesso à base de dados
    Database db = null;
    dynamic Password = null;
    
    string MensagemErro = "";

    // Verificar que são recebidos dados através do método POST
    if (IsPost)
    {
        // Verificar que os campos obrigatórios estão preenchidos
        if ((!Request.Form["Username"].IsEmpty()) && (!Request.Form["Password"].IsEmpty()))
        {
            try
            {
                // Abrir a base de dados
                db = Database.Open("arte_e_artes");
            }
            catch
            {
                // Ocorreu um erro ao abrir a base de dados: redirecionar o utilizador para a página de erro
                Response.Redirect("~/Erro.cshtml", true);
            }

            // Especificar a consulta para obter dados do utilizador  
            string query = "SELECT Password FROM Utilizadores WHERE Username = @0";

            // Verificar que existe ligação à base de dados
            if (db != null)
            {
                try
                {
                    // Executar a consulta: o resultado é colocado na variável Password
                    Password = db.QueryValue(query, Request.Form["Username"]);
                }
                catch (System.Data.SqlServerCe.SqlCeException e)
                {
                    // Ocorreu um erro relacionado com a base de dados: redirecionar o utilizador para a página de erro
                    Response.Redirect("~/Erro.cshtml", true);
                }
            }

            // Verificar se a consulta devolveu um valor
            if (Password != null)
            {
                // Codifica a password introduzida no formulário
                string hash = Crypto.Hash(Request.Form["password"]);

                // Comparar a password codificada do formulário com a password codificada armazenada na base de dados
                if (hash == Password)
                {
                    // O utilizador efetuou o login corretamente: armazenar o username em sessão
                    Session["Username"] = Request.Form["Username"];
                    
                    // Redirecionar para a página de administração 
                    Response.Redirect("~/admin/Default.cshtml", true);
                }
                else
                {
                    MensagemErro = "<p><strong class=\"erro\">Nome de utilizador ou password incorretos</strong></p>";
                }
            }
            else
            {
                MensagemErro = "<p><strong class=\"erro\">Nome de utilizador ou password incorretos</strong></p>";
            }
        }
        else
        {
            MensagemErro = "<p><strong class=\"erro\">Erro: não preencheu todos os campos obrigatórios</strong></p>";
        }
    }
}
<!DOCTYPE html>
<html lang="pt">
<head>
	<meta charset="utf-8" />
	<title>Login - Arte &amp; Artes</title>
    @RenderPage("~/Shared/_Metatags.cshtml")
</head>
<body class="PaginaLogin">
    @RenderPage("~/Shared/_Header.cshtml", "login")

    <main>
        <form action="~/Login.cshtml" method="post" class="login">
            <h1>Login</h1>

            <div>
                <input type="text" name="Username" id="Username" size="40" maxlength="30" placeholder="Nome de utilizador" required autofocus>
            </div>

            <div>
                <input type="password" name="Password" id="Password" size="40" maxlength="30" placeholder="Password" required>
            </div>

            <div>
                <button type="submit">Submeter</button>
            </div>

            @Html.Raw(MensagemErro)

            <p>&xlarr; <a href="~/Default.cshtml">Início</a></p>
        </form>
    </main>
</body>
</html>				