	<nav class="navbar navbar-dark fixed-top bg-dark flex-md-nowrap p-0 shadow">
		<a class="navbar-brand col-sm-3 col-md-2 mr-0 nome-site" href="#">Arte <span class="e">&amp;</span> Artes</a>
		<ul class="navbar-nav px-3">
			<li class="nav-item text-nowrap">
				<span class="text-light">Utilizador: <strong>@Session["Username"]</strong></span>&nbsp;&nbsp;
				<a class="btn btn-sm btn-secondary" href="~/admin/Logout.cshtml">Logout</a>
			</li>
		</ul>
	</nav>