<nav class="col-md-2 d-none d-md-block bg-light sidebar">
    <div class="sidebar-sticky">
        <ul class="nav flex-column">
            <li class="nav-item">
                <a class="nav-link" href="~/admin/Default.cshtml"><span data-feather="home"></span>Início</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="~/admin/Produto.cshtml?operacao=inserir"><span data-feather="shopping-cart"></span>Criar produto</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="~/admin/Utilizador.cshtml?operacao=inserir"><span data-feather="user-plus"></span>Criar utilizador</a>
            </li>
        </ul>
    </div>
</nav>